<!-- <div class="container">
  <h1>GGGGGGGGGGGg</h1>
  <hr>
    <button (click)="toggleCards()">Toggle Cards</button>
  <hr>


  <app-ppp></app-ppp> -->





  <!-- <div *ngIf="toggle; else noCards">
    <app-card
      *ngFor="let card of cards; let idx = index"
      [card]="card"
      [index]="idx + 1"
    ></app-card>
  </div>

  <ng-template #noCards>
    <p>No Cards</p>
  </ng-template> -->

  <!-- <app-form></app-form> -->
<!-- </div> -->


<!-- ************************************************************************************ -->

<!-- <h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages> -->


<!-- ****************************************************** -->

<!-- <div class="container">
  <app-ppp></app-ppp>
</div> -->

<!-- ******************************************************************** -->


<!-- <div class="container">
  <header>
    <app-selector></app-selector>
  </header>
  <main>
    <app-calendar></app-calendar>
  </main>
  <div>
    <app-organizer></app-organizer>
  </div>
</div> -->

<!-- ************************************************* -->

<h1>{{title}}</h1>
<app-post-form
  (onAdd)="updatePosts($event)"
></app-post-form>
<hr />
<app-post
  *ngFor="let p of posts"
  [post]="p"
>
  <div *ngIf="p.text.length > 10; else short">Пост длинный</div>
  <ng-template #short>
    <div>Пост короткий</div>
  </ng-template>

</app-post>













